*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 16px;
    color: #fff;
    background-color: #1f2029;
    min-height: 100vh;
    overflow-x: none;
}

.wrapper{
    width: 100vw;
    display: block;
    overflow: hidden;
    position: relative;
}


.container{
    position: relative;
    max-width: calc(100% - 40px);
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    width: 867px;
}