* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        'header header header header header'
        'sidebar cont1 cont1 cont1 cont1'
        'sidebar cont2 cont2 cont3 cont3'
        'footer footer footer footer footer';

}

.hd {
    border: 5px solid black;
    background-color: blueviolet;
    height: 10vh;
    grid-area: header;
}

.sb {
    border: 5px solid black;
    background-color: rgb(56, 175, 222);
    height: 77vh;
    grid-area: sidebar;
}

.cont1 {
    border: 5px solid black;
    background-color: rgb(90, 90, 255);
    height: 35vh;
    grid-area: cont1;
}

.cont2 {
    border: 5px solid black;
    background-color: rgba(90, 90, 255);
    grid-area: cont2;
    height: 41vh;

}

.cont3 {
    border: 5px solid black;
    background-color: rgba(90, 90, 255);
    grid-area: cont3;
    height: 41vh;

}

.ft {
    border: 5px solid black;
    background-color: hsl(271, 76%, 53%);
    grid-area: footer;
    height: 10vh;
}

.container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
}